.wrapper {
  background: rgb(175, 175, 175);
  background-image: url('https://images3.alphacoders.com/106/106685.jpg');
  background-size: 100%;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
  padding-bottom: 50px;
}